body {
    background-color: #DFCFBE;
}

.login {
    font-family: arial, sans-serif;
    padding: 20px;
    background-color: rgb(26,45,52);
}

.login div{
    background-color: rgb(250,250,250);
    width: 320px;
    margin: 100px auto;
    padding: 45px;
    border-radius: 5px;
}

.login h2 {
    text-align: center;
    /*color: #333;*/
    margin-top: 1px;
    margin-bottom: 2rem;

}

.login input[type="text"],
.login input[type="password"] {
    border-radius: 5px;
    background-color: #ECECEC;
}

.login label {
    padding-left: 30px;
    font-size: large;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #0056b3;
}

.student {
    font-family: arial, sans-serif;
    color: #333;
    line-height: 1.6;
}
