<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ course.title }} - Student Grades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='teacher.css') }}">
</head>
<body>
    <header class = "dashboard-header">
        <h1>{{ course.title }}</h1>
        <h2>{{ course.time }}</h2>
    </header>

    <br><a href="{{ url_for('teacher_dashboard') }}" class="back-link">← Back to Dashboard</a>

    <h2>Enrolled Students</h2>
    <form method="POST">
        <table>
            <tr>
                <th>Student</th>
                <th>Grade</th>
            </tr>
            {% for enrollment in enrollments %}
            <tr>
                <td>{{ enrollment.student.name }}</td>
                <td>
                    <input type="text" name="grade_{{ enrollment.student.id }}" value="{{ enrollment.grade }}">
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit" value="Save Grades">
    </form>


    <div class="logout-container">
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    </div>

</body>
</html>
